@model Monument_Scann.Areas.Admin.Models.TouristSpotComents

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TouristSpotComents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comented)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comented)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Touristspoti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Touristspoti.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
